@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Kalam&family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Fira+Sans:ital@1&display=swap');
*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #121212;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

/* -------------------------------------loading page-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#loader{
    box-sizing: border-box;
    height:100vh;
    width:100%;
}
#loader{
    font-family: 'Open Sans', sans-serif;
    color: rgb(151, 190, 224);
    font-size: 16px;
    margin: 0px;
    background-color: #fff;
}
.loading-area{
    position: fixed;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    z-index: 10;
    background-color: #000;
}
.loader{
    /* border:1px solid green; */
    position:absolute;
    left:52%;
    top:50%;
    width:130px;
    height:130px;
    color:#fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-100px 0px 0px -99px;
    perspective: 200px;
  
}
.loadAnim1,.loadAnim2{
   position: absolute;
   width:130px;
   height:130px;
   border: 5px solid red;
   border-radius: 50%;
   border-left-color: #10ac84;
   border-right-color: #ff9f43;
   border-top-color: #0984e3;
   border-left-color:#d63031 ;
   position: absolute;
   left: 52%;
   top:50%;
   margin:-100px 0px 0px -104px;
   animation:loadAnim 3s;
   animation-iteration-count: infinite;
}
.loadAnim2{
    animation:loadAnim2 3s;
    animation-iteration-count: infinite;
}
@keyframes loadAnim {
    0%{
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100%{
        transform: rotate3d(1,1,1, 360deg);
    }
}
@keyframes loadAnim2 {
    0%{
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100%{
        transform: rotate3d(1,1,1, -360deg);
    }
}
/* ---------------------------------------------------------------------------- */
.hero {
    width: 100%;
    background-color: linear-gradient(4deg, rgb(14, 10, 10), rgb(223, 32, 32));
    border-radius: 20px;
    opacity: 0.8;

}

/* -----------------------------------------------navigation Bar---------------------------------------------------- */
.navigation {
    z-index: 1000;
    position:relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    row-gap: 100px;
    background-color:#8a272c;
}

/* ----------------------------------------------logo  and name---------------------------------------------------- */
.nav-part1 {
    width: 100px;
    border: 1px solid rgb(255, 136, 0);
    border-width: 2px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    color: #FBFBFB;
}
.nav-part1 :hover{
    color:#aaa;
    transition: color .5s;
}
/* ------------------------------------------------menubar--------------------------------------------------------- */
.nav-part2 {
    /* margin-right: 10px; */
    width: 525px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.nav-part2 ul {
    width: 530px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    font-family: 'Open Sans', sans-serif;
}

.nav-part2 ul li {
    list-style: none;
    display: flex;
    color: #f3f2f1;
    transition: border 2s;
    transition-duration: 2s;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

.nav-part2 ul li:nth-child(1),
.nav-part2 ul li:nth-child(2),
.nav-part2 ul li:nth-child(3) {
    padding-top: 4px;
}

.nav-part2 ul li a:hover {
    color: rgb(212, 176, 176);
    cursor: pointer;
    transition: color .5s;
}

.nav-part2 button {
    margin-top: 2px;
    padding-top: 2px;
    font-size: 16px;
    width: 80px;
    height: 30px;
    color: #b4bfc2;
    background-color: #161515;
    opacity: 0.5;
    border-radius: 20px;
    border: 1px solid white;
   
}

.nav-part2 button:hover {
    cursor: pointer;
    border-color: #8a272c;
    opacity: 0.8;
    transition: color .5s;
}

 .checkbtn{
    background-color: #e4b88c;
    margin: 2px 0px 1px 1px;
    height:45px;
    border-radius: 10px;
    position: absolute;
    right:0;
    font-size: 30px;
    color:white;
    float:right;
    display:none;
}

#check{
    display:none;
}

@media(max-width:672px){
    .checkbtn{
    display:block;
    }
    .nav-part2 {
        margin-top: 50px;
        margin-right: 10px;
        width: 190px;
        height:350px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .nav-part2 ul{
        padding-top: 10px;
        padding-left: 50px;
        row-gap: 30px;
        z-index: 0;
         position:fixed;
         width:100%;
         height:350px;
         flex-direction: column;
         margin:auto;
         justify-content: center;
         border-bottom-left-radius: 2px;
         background-color:#8a272c;
         transform: translateX(300px);
         transition:transform 1s ease-in-out;
    }
    .nav-part2 ul li {
        display: block;
    
    }
   #check:checked~.nav-part2 ul{
    transform:translate(0px);
   }
} *
/* ---------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------Hero-Section----------------------------------------------------------- */
.Hero-sec {
    display: flex;
    justify-content: space-around;
    margin-top: 100px ;
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height:auto;
    border-radius: 10px;
    display: flex;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #221c1d;
}
.content:hover{
    box-shadow: 10px 10px 0 black;
    transition: box-shadow .5s;
}
.content h2 {
    padding-left: 20px;
    color: #FBFBFB;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
}

.content p {
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
    padding: 20px 20px;
    color: #FBFBFB;
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px;
}

.content .buttons {
    margin-bottom: 20px;
}
.content .buttons a{
    text-decoration: none;
    color:rgb(20, 19, 17);
}
.content .buttons button {
    background-color: #FBFBFB;
}

.content .buttons button:nth-child(1) {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    margin-right: 20px;
    font-weight: bold;
}

.content .buttons button:nth-child(2) {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    margin-right: 20px;
    font-weight: bold;
}

.content .buttons button:hover {
    background-color: hsl(0, 59%, 58%);
}

.illistrator {
    
    display: flex;
    justify-content: center;
    max-width: 600px;
    height: 400px;
    margin-left: 10px;
}
.illistrator img {
    position:relative;
    z-index:90;
    max-width: 600px;
    height:450px;
}

/* ----------------------------------About-us---------------------------------------------- */
#About-us {
    margin-top: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
   column-gap: 80px;
    margin-bottom: 90px;
    padding-bottom: 30px;

}

#About-us .image img {
    width: 500px;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
}

.content2 {
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    background-color:#272221;
   
}

.content2 h2 {
    font-size: 30px;
    text-align: left;
    color:#8a272c;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.content2 h3 {
    font-size: 15px;
    font-weight: 1px;
    color: #ccc;
    font-style: normal;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.content2 p {
    font-size: 11px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.content2 button {
    margin-bottom: 2px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.content2 button:hover{
    background-color: #af5156;
}
/* --------------------------------------cities---------------------------------------------------- */
#citys{width:100%;
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(3,230px);
    row-gap: 20px;
    justify-content: center;
    column-gap: 20px;
}
.h {
    margin-top: 60px;
     text-align: center;
     color:#eb331bfb;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 30px;
     font-style: italic;
}
.cities{
    display: flex;
    justify-content: center;
}
.cities button{
    width:100px;
    height:40px;
    border-radius: 10px;
    color: #FBFBFB;
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.cities button:hover{
    background-color: #612c2e;
    transition: background-color ,.5s;
}
.cities button a{
    text-decoration: none;
    color: #FBFBFB;
}

/* ------------------------------order-now--------------------------------- */
 #order-Now{
   margin-top: 110px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   row-gap: 30px;
  
}
.row1{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
}
.row2{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
}

.cart{
    width:200px;
    height:300px;
    background-color: #693c31;
    border:1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.title{
    margin-bottom:5px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.cart img{
    width:100%;
    height:180px;
    border-radius: 20px;
}
.cart label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.cart select{
    width:50px;
    border-radius: 10px;
}
.cart button{
    width:90px;
    height:30px;
    margin:auto;
    background-color: #d46368;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.container {
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 70px;
    margin-right: 30px;
}
/* .swiper-button-next {
    position: absolute;
    top: 123rem;
}
.swiper-button-prev {
    position: absolute;
    top: 123rem;
} */
/* -------------------------------------------------------footer---------------------------------------------  */
.footer{
    margin-top: 20px;
    width:100%;
    background-color: #ededed;
    padding:40px;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:#4b4c4d;
}
.footer .social a{
    font-size:25px;
    color:inherit;
    border:1px solid #ccc;
    width:40px;
    height:40px;
    line-height: 38px;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 8px;
    opacity:0.75; 
}
.footer .social a:hover{
    opacity:0.9;
}
.footer ul{
    margin-top: 0;
    padding:0;
    list-style: none;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}
.footer ul li a{
color:inherit;
text-decoration: none;
opacity: 0.8;
}
.footer ul li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding:0 15px;
}
.footer ul li:hover{
    opacity: 1;
}
.footer .copyright{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color:#aaa;
}
/* ----------------------------------------------MEDIA-QUEARY------------------------------------------------------- */
@media(max-width:906px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 370px;
    }

    .content .buttons {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-top: auto;
        margin-bottom: 20px;
        row-gap: 10px;
    }

    .content .buttons button {
        background-color: #FBFBFB;

    }

    .illistrator img {
        max-width: 400px;
    }

    .illistrator {
        width: 350px;
        height: 500px;
    }
}
/* ------------------------SERVICES----------------------------------------------------------- */
#services{
    display: flex;
    justify-content: space-around;
}
.s{
    color:rgb(175, 53, 53);
    font-size: 35px ;
    margin-bottom: 90px;
    text-align: center;
    font-family: 'Fira Sans' , sans-serif;
}
.card{
    border:1px solid red;
    width:300px;
    height:330px;
    border-radius: 10px;
    box-shadow: 3px -2px 2px red ;
}
.card img{
    width:70px;
    position: relative;
    top:-42px;
    left:20px;
}
.cards{
  display:flex;
  flex-direction: column;
  row-gap: 10px;
}
.cards span{
    margin-top: -30px;
    margin-right: 90px;
    margin-left: auto;
    color:#eb331bfb;
    font-family: 'Fira Sans' , sans-serif;
    font-size: 23px;
}
.cards p{
    color:rgb(214, 221, 228);
    font-weight:1px;
    font-family: 'Fira Sans' , sans-serif;
    font-size: 15px;
    text-align: center;
}
.cards button{
    width:100px;
    height:40px;
    margin-left: auto;
    margin-right: 100px;
    border-radius: 8px;
    font-family: 'Fira Sans' , sans-serif;
    font-weight: bold;
    background-color: antiquewhite;
}
.cards button:hover{
    background-color: #ca4a50;
    transition: background-color .5s;
}
.card .cards img {
   /* transform: translateY(70px); */
  width:100px;
  height:100px;
  border-radius:50%;
  margin-right: 130px;
  margin-left: auto;  
}

.s h2{
 text-align: center;
 color: #8a272c;
 font-family:'DynaPuff' , cursive;
 font-size:30px;
 margin-bottom: 50px;
}
.card:hover{
    background-color: #290e0f;
    transition: background-color .5s;
}
/* ------------------------ABOUT-US--------------------------------------------------------- */
@media(max-width:984px) {
    #About-us .image img {
        max-width: 400px;
        height: 300px;
        margin-right: 20px;
    }

    .content2 {
        
        width: 600px;
        height: 300px;
    }
}

@media(max-width:804px) {
    /* .Hero-sec{
        justify-content: center;
    } */
    .illistrator {
        display: none;
        width: 0px;
        height: 0px;
    }

    .content {
        flex-direction: column;
        width:100%;
    }

    .content .buttons {
        display: flex;
        flex-direction: row;
        row-gap:10px;
    }

    #About-us {
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .content2 {
        margin: 20px 0 20px ;
       text-align: center;
        max-width:90%;
        height: 300px;
        padding:10px;
    }
    .content2 button{
        margin:auto;
    }

   #About-us .image img {
      max-width: 100%;
        height: 300px;
        margin:0px;
       
    }
}

/* --------------------------------------------------------------------------------------------------- */
@media(max-width:956px){
    #services{
       flex-direction: column;
       row-gap: 50px;
       align-items:center;

    }
}
/* ---------------------------------------------------------------------------------------------------- */
@media(max-width:544px){
   .hero{
    display:flex;
    justify-content: center;
   }
   /* .content{
    margin:auto;
   } */
    #About-us .image img {
           width: 100%;
          height: 250px;
          margin:auto;
      }
      .content h2 {
        margin-bottom: 10px;
       font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    .content p {
        margin-bottom:0px;
    }
    
    .content .buttons {
        padding-left: 20px;
        margin-top: auto;
        margin-bottom: 40px;
    }
    #citys{width:100%;
        margin-top:50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 20px;
        column-gap: 10px;
    }
}
@media(max-width:512px){
    .cart {
        margin-left: 26px;
    }
}